.modal {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  display: none; }
  .modal.open {
    display: flex;
    cursor: pointer; }
  .modal-container {
    width: 33.3%;
    background-color: var(--white-font); }
    @media only screen and (min-width: 1200px) {
      .modal-container {
        width: 450px; } }
    @media only screen and (min-width: 768px) and (max-width: 979px) {
      .modal-container {
        width: 400px; } }
    @media only screen and (max-width: 767px) {
      .modal-container {
        width: 350px; } }
    @media only screen and (max-width: 480px) {
      .modal-container {
        width: 300px; } }
  .modal-header {
    display: flex; }
  .modal-tab {
    height: 50px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background-color: #d2d8d8;
    cursor: pointer; }
    .modal-tab.active {
      background-color: var(--white-font); }
    .modal-tab:not(:last-child) {
      border-right: 1px solid var(--black-font); }
  .modal-body {
    padding: 20px 15px;
    background-color: var(--white-font); }
  .modal-forms {
    display: flex;
    overflow: hidden; }
  .modal-form {
    width: 100%;
    display: none; }
    .modal-form.active {
      display: block; }
  .modal-input {
    width: 100%;
    position: relative;
    margin-bottom: 15px; }
    .modal-input input {
      display: block;
      width: 100%;
      height: 35px;
      padding: 0 15px;
      box-sizing: border-box;
      font-size: 14px;
      font-weight: bold;
      outline: none;
      transition: .2s linear all; }
      .modal-input input[type='password'] {
        padding-right: 45px; }
      .modal-input input.success {
        border-color: #2ecc71; }
      .modal-input input.error {
        border-color: #e74c3c; }
  .modal-eye {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 3; }
    .modal-eye.hide:after {
      position: absolute;
      content: '';
      display: block;
      top: 16px;
      left: 13px;
      width: 25px;
      height: 2px;
      background-color: #000;
      transform: rotate(25deg); }
    .modal-eye svg {
      width: 20px;
      height: 20px;
      display: block;
      position: relative; }
  .modal-title {
    text-align: center; }
  .modal-footer {
    display: flex;
    justify-content: center; }
    .modal-footer h5 {
      text-decoration: underline;
      cursor: pointer;
      margin: 0; }
  .modal-submit {
    width: 100%;
    display: block;
    height: 40px;
    font-weight: bold;
    color: var(--white-font);
    border: none;
    background-color: var(--green);
    outline: none;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: .2s all linear; }
    .modal-submit:hover {
      background-color: #39899b; }
  .modal-errors {
    margin: 0 20px; }
    .modal-errors ul {
      margin: 0;
      padding: 0;
      display: block; }
    .modal-errors li {
      font-size: 13px;
      color: #e74c3c;
      margin-bottom: 8px; }
      .modal-errors li:first-child {
        margin-top: 20px; }
  .modal-notify {
    background-color: #2ecc71;
    height: 40px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: var(--white-grey-font);
    transition: .5s all linear;
    transform: translateY(-100%);
    will-change: tranform; }
    .modal-notify.active {
      transform: translateY(0%); }
